---
import { type CollectionEntry, getCollection } from 'astro:content'
import Dinero from 'dinero.js'
import BaseLayout from '@layouts/BaseLayout.astro'
import Header from '@components/products/Header.astro'
import Section from '@components/page/Section.astro'
import Description from '@components/products/Description.astro'
import ContactButton from '@components/contact/ContactButton.astro'
import TargetGroup from '@components/products/TargetGroup.astro'
import Breadcrumbs from '@components/nav/Breadcrumb.astro'

export const getStaticPaths = async function () {
  const coachings = await getCollection('coachings')
  return coachings.map((coaching) => ({
    params: { slug: coaching.slug },
    props: { coaching },
  }))
}

type Props = {
  coaching: CollectionEntry<'coachings'>
}
const category = 'Coaching'
const { coaching }: Props = Astro.props
const { title, description, headline, summary, targets, pricePerSession } = coaching.data
const price = Dinero(pricePerSession).toFormat('$0,0.00')
const { Content } = await coaching.render()

const openGraph = {
  title: headline ?? title,
  description: summary ?? description,
}
---

<BaseLayout {title} {description} {openGraph}>
  <Header headline={headline ?? title} {summary} {category} />
  {targets.length > 0 &&
  <Section title="Für wen?">
      <TargetGroup {targets} />
  </Section>
  }
    <Description>
        <Content />
    </Description>
    <Section title="Überzeugt?">
        <ContactButton />
        <p class="content">Preis pro Sitzung: {price}</p>
    </Section>
  <Breadcrumbs slot="breadcrumbs" separator="succeeds" items={[{ href: '/products/coachings/', text: 'Coachings', emoji: '📲' }, { href: Astro.url.pathname, text: title }]} />
</BaseLayout>
