---
import { type CollectionEntry, getCollection } from 'astro:content'
import Dinero from 'dinero.js'
import BaseLayout from '@layouts/BaseLayout.astro'
import Header from '@components/products/Header.astro'
import Section from '@components/page/Section.astro'
import Description from '@components/products/Description.astro'
import ContactButton from '@components/contact/ContactButton.astro'
import TargetGroup from '@components/products/TargetGroup.astro'
import Breadcrumbs from '@components/nav/Breadcrumb.astro'

export const getStaticPaths = async function () {
  const courses = await getCollection('courses')
  return courses.map((course) => ({
    params: { slug: course.slug },
    props: { course },
  }))
}

type Props = {
  course: CollectionEntry<'courses'>
}

const category = 'Kurs'
const { course }: Props = Astro.props
const { title, description, headline, summary, targets } = course.data
const price = Dinero({ amount: 3000, currency: 'EUR' }).toFormat('$0,0.00')
const { Content } = await course.render()

const openGraph = {
  title: headline ?? title,
  description: summary ?? description,
}
---

<BaseLayout {title} {description} {openGraph}>
  <Header {title} {headline} {summary} {category} />
  {targets.length > 0 &&
    <Section title="Zielgruppe">
      <TargetGroup {targets} />
    </Section>
  }
    <Description>
        <Content />
    </Description>
    <Section title="Interessiert?">
        <ContactButton />
    </Section>
  <Breadcrumbs slot="breadcrumbs" separator="succeeds" items={[{ href: '/products/courses/', text: 'Kurse', emoji: '💡' }, { href: Astro.url.pathname, text: title }]} />
</BaseLayout>
