---
import { getCollection } from 'astro:content'
import BaseLayout from '@layouts/BaseLayout.astro'
import Header from '@components/page/Header.astro'
import Section from '@components/page/Section.astro'
import ProductPreview from '@components/products/ProductPreview.astro'

const title = 'Kurse'
const description = 'Kurse für Medienkompetenz, Informationskompetenz und digitale Aufgaben im Alltag'
const headline = 'Kurse für digitale Fitness und Selbstbestimmung'
const openGraph = {
  headline,
  description,
}
const courses = await getCollection('courses')
---

<BaseLayout {title} {description} {openGraph}>
  <Header title={headline}>
    <p>
      Manchmal bringen Computerkurse oder Onlinekurse einen einfach nicht weiter. Wenn Sie keine entspannte Beziehung zu
      digitaler Technik aufbauen können, sitzt das Problem oft genug nicht „vor dem Bildschirm“, sondern in
      menschenfeindlicher Technik. In Gruppensituationen fehlt oft der Freiraum, solche spezifischen Stolpersteine
      herauszuarbeiten und darauf einzugehen. Dafür sind meine Coachings da.
    </p>
  </Header>
  <Section title="Angebote">
    {courses.map((course) => <ProductPreview product={course} basePath={Astro.url.pathname} />)}
  </Section>
</BaseLayout>
