---
import { type CollectionEntry } from 'astro:content'
import Article from '@components/page/Article.astro'
import TagList from '@components/bulma/TagList.astro'

type Props = {
  product: CollectionEntry<'coachings' | 'courses' | 'services' | 'trainings'>
  basePath: string
}
const { product, basePath }: Props = Astro.props
const { title, description, headline, summary, targets } = product.data
const subtitle = summary ?? description
const tags = targets.map((t) => ({ href: `/products/zielgruppen/${t}/`, text: t }))
const href = `${basePath}${product.slug}`
---

<Article title={headline ?? title} {href}>
  {subtitle && <p class="subtitle">{subtitle}</p>}
  <TagList {tags} color="link" />
</Article>
