---
import { type CollectionEntry } from 'astro:content'
import Article from '@components/page/Article.astro'
import TagList from '@components/bulma/TagList.astro'

type Props = {
  product: CollectionEntry<'products'>
}
const { product }: Props = Astro.props
const { title, headline, summary, targets } = product.data
const tags = targets.map((t) => ({ href: `/products/zielgruppen/${t}/`, text: t }))
const href = `/products/${product.slug}`
---

<Article {title} {headline} {href}>
  <TagList {tags} color="link" />
  {summary && <p class="content">{summary}</p>}
</Article>
