---
import { getCollection } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro'
import Header from '@components/page/Header.astro'
import Section from '@components/page/Section.astro'
import Subscribe from '@components/blog/Subscribe.astro'
import PostPreview from '@components/blog/PostPreview.astro'
const title = 'Blog'
const description = 'Kommentare, Einordnungen und der ganze Rest'
const openGraph = { title, description }
const posts = await getCollection('posts')
posts.sort((a, b) => b.data.publishedTime.valueOf() - a.data.publishedTime.valueOf())
---

<BaseLayout {title} {description} {openGraph} noindex={true}>
  <link slot="after-head" rel="alternate" title="Blog Feed" type="application/feed+json" href={new URL(Astro.url + 'feed.json', Astro.site)} />
  <link slot="after-head" rel="alternate" title="Blog Feed" type="application/rss+xml" href={new URL(Astro.url + 'rss.xml', Astro.site)} />
  <Header {title} headline={description} />
  <Subscribe />
  <Section title="Beiträge">
    {posts.map((post) => <PostPreview {post} />)}
  </Section>
</BaseLayout>
