---
import { getCollection } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro'
import Header from '@components/page/Header.astro'
import Section from '@components/page/Section.astro'
import Subscribe from '@components/blog/Subscribe.astro'
import PostPreview from '@components/blog/PostPreview.astro'
import Breadcrumb from '../../components/nav/Breadcrumb.astro'
export const title = 'Blog'
export const emoji = '📓'
const description = 'Kommentare, Einordnungen und der ganze Rest'
const openGraph = { title, description }
const posts = await getCollection('posts')
posts.sort((a, b) => b.data.publishedTime.valueOf() - a.data.publishedTime.valueOf())
---

<BaseLayout {title} {description} {openGraph} noindex={true}>
  <link slot="after-head" rel="alternate" type="application/feed+json" href={new URL(Astro.url + 'feed.json', Astro.site)} title="Infolektuell Blog JSON Feed" />
  <link slot="after-head" rel="alternate" type="application/rss+xml" href={new URL(Astro.url + 'feed.rss.xml', Astro.site)} title="Infolektuell Blog RSS Feed" />
  <Header {title} headline={description} />
  <Subscribe />
  <Section title="Beiträge">
    {posts.map((post) => <PostPreview {post} />)}
  </Section>
  <Breadcrumb slot="breadcrumbs" items={[{ href: Astro.url.pathname, text: title, emoji }]} />
</BaseLayout>
