---
import { type CollectionEntry, getCollection } from 'astro:content'
import Dinero from 'dinero.js'
import BaseLayout from '@layouts/BaseLayout.astro'
import Header from '@components/products/Header.astro'
import Section from '@components/page/Section.astro'
import Description from '@components/products/Description.astro'
import ContactButton from '@components/contact/ContactButton.astro'
import TargetGroup from '@components/products/TargetGroup.astro'

export const getStaticPaths = async function () {
  const trainings = await getCollection('trainings')
  return trainings.map((training) => ({
    params: { slug: training.slug },
    props: { training },
  }))
}

type Props = {
  training: CollectionEntry<'trainings'>
}

const category = 'Training'
const { training }: Props = Astro.props
const { title, description, headline, summary, targets, sessions } = training.data
const price = Dinero(training.data.price).toFormat('$0,0.00')
const { Content } = await training.render()

const openGraph = {
  title: headline ?? title,
  description: summary ?? description,
}
---

<BaseLayout {title} {description} {openGraph}>
  <Header headline={headline ?? title} {summary} {category}>
  </Header>
    <Section title="Zielgruppe">
        <TargetGroup {targets} />
    </Section>
    <Description>
        <Content />
    </Description>
    <Section title="Überzeugt?">
        <ContactButton />
        <dl>
            <dt>Sessions</dt>
            <dd>{sessions}</dd>
            <dt>Preis pro Person</dt>
            <dd>{price}</dd>
        </dl>
    </Section>
</BaseLayout>
