---
import { getEntry } from 'astro:content'
import NavLink from '../controls/NavLink.astro'
import siteConfig from '../../config/site'
import { legalMenu } from '../../config/menus'
const today = new Date()
const author = await getEntry('authors', siteConfig.author)
---

<footer>
  <nav aria-label={legalMenu.name}>
    <ul>
      {
        legalMenu.items.map(({ href, name }) => (
          <li>
            <NavLink {href}>{name}</NavLink>
          </li>
        ))
      }
    </ul>
  </nav>
  {
    author && (
      <p>
        &copy; {today.getFullYear()} {author.data.name.display}. Alle Rechte vorbehalten.
      </p>
    )
  }
</footer>
