---
import NavLink from '../nav/NavLink.astro'
import siteConfig from '../../config/site'
import { legalMenu } from '../../config/menus'
const today = new Date()
---

<footer class="footer">
  <nav class="level" aria-label={legalMenu.name}>
    <div class="level-left">
      {
        legalMenu.items.map(({ href, name }) => (
          <div class="level-item">
            <NavLink class="button is-link" {href}>
              {name}
            </NavLink>
          </div>
        ))
      }
    </div>
  </nav>
  <p class="content has-text-centered">
    <span>&copy; {today.getFullYear()}</span><span>{siteConfig.title}.</span><br />
    <span>Alle Rechte vorbehalten.</span>
  </p>
</footer>
