---
import { getEntry } from 'astro:content'
import { Icon } from 'astro-icon/components'
import BaseLayout from '@layouts/BaseLayout.astro'
import Header from '@components/page/Header.astro'
import Section from '@components/page/Section.astro'
import ContactForm from '@components/contact/ContactForm.svelte'
import VCard from '@components/contact/vcard.astro'

export const title = 'Kontakt'
export const emoji = '🤝'
const headline = 'Ihr Weg zu mir'
const summary = 'Schreiben Sie mir einfach über das Kontaktformular. Ich werde mich dann innerhalb von zwei Werktagen bei Ihnen melden und ggf. einen Kennenlerntermin vorschlagen. Telefonisch erreichen Sie mich am besten vormittags zwischen 10:00 und 12:00.'
const person = await getEntry('authors', 'tamara-cook')
const openGraph = { title }
---

<BaseLayout {title} {openGraph}>
  <Header {title} {headline} {summary} />
  <Section title="Kontaktformular">
    <ContactForm client:load>
      <Icon name="fa6-solid:envelope" slot="emailIcon" />
      <Icon name="fa6-solid:phone" slot="phoneIcon" />
    </ContactForm>
  </Section>
  <Section title="Weitere Kontaktmöglichkeiten">
    <VCard {person} />
  </Section>
</BaseLayout>
<style is:global lang="scss">
  @import '@assets/styles/bulma/variables.scss';
  @import 'bulma/sass/form/_all.sass';
  @import 'bulma/sass/components/message.sass';
  @import 'bulma/sass/components/card.sass';
</style>
