---
import { getEntry } from 'astro:content'
import siteConfig from '@config/site'
import BaseLayout from '@layouts/BaseLayout.astro'
import Header from '@components/page/Header.astro'
import Section from '@components/page/Section.astro'
import Article from '@components/page/Article.astro'
import CTAButton from '@components/page/CTAButton.astro'
import ContactButton from '@components/contact/ContactButton.astro'
import Bio from '@components/contact/Bio.astro'
import * as coachingsList from './products/coachings/index.mdx'
import * as coursesList from './products/courses/index.mdx'
import * as servicesList from './products/services/index.mdx'
import * as trainingsList from './products/trainings/index.mdx'
import * as risikokompetenzList from './e-learning/risikokompetenz/index.astro'
const title = 'Willkommen'
const { description, headline, summary } = siteConfig
const person = await getEntry('authors', 'tamara-cook')
---

<BaseLayout {title} {description}>
  <Header title={headline} description={summary} />
  <Section title="Für Einzelpersonen mit und ohne Angehörige">
    <Article title={coachingsList.frontmatter.headline}>
      <p>{coachingsList.frontmatter.summary}</p>
      <CTAButton slot="cta" href="/products/coachings/">Finden Sie jetzt Ihr passendes Coaching</CTAButton>
    </Article>
  </Section>
  <Section title="Für Gruppen">
    <Article title={coursesList.frontmatter.headline}>
      <p>{coursesList.frontmatter.summary}</p>
      <CTAButton slot="cta" href="/products/courses/">Finden Sie Ihren passenden Kurs</CTAButton>
    </Article>
    <Article title={trainingsList.frontmatter.headline}>
      <p>{trainingsList.frontmatter.summary}</p>
      <CTAButton slot="cta" href="/products/trainings/">Finden Sie jetzt Ihr passendes Training</CTAButton>
    </Article>
    <Article title={servicesList.frontmatter.headline}>
      <p>{servicesList.frontmatter.summary}</p>
      <CTAButton slot="cta" href="/products/services/">Jetzt informieren und beauftragen</CTAButton>
    </Article>
  </Section>
  <Section title="E-Learning">
    <p class="subtitle">
      Auf meiner Seite finden Sie auch interaktive Lehrmedien, mit denen Sie spielerisch Basiskompetenzen aufbauen
      können.
    </p>
    <Article title={risikokompetenzList.headline}>
      <p>{risikokompetenzList.summary}</p>
      <CTAButton slot="cta" href="/e-learning/risikokompetenz/">Jetzt ausprobieren</CTAButton>
    </Article>
  </Section>
  <Section title="Über mich">
      <Bio {person}>
          <ContactButton slot="cta" />
      </Bio>
  </Section>
</BaseLayout>
