---
import { getEntry } from 'astro:content'
import siteConfig from '@config/site'
import { pageSchema } from '@entities/page'
import BaseLayout from '@layouts/BaseLayout.astro'
import Header from '@components/page/Header.astro'
import Section from '@components/page/Section.astro'
import ListPagePreview from '@components/page/ListPagePreview.astro'
import ContactButton from '@components/contact/ContactButton.astro'
import Bio from '@components/contact/Bio.astro'
import * as risikokompetenzList from './e-learning/risikokompetenz/index.astro'
const title = 'Willkommen'
const { description, headline, summary } = siteConfig
const person = await getEntry('authors', 'tamara-cook')
const coachingsList = await getEntry('products', 'coachings')
const coursesList = await getEntry('products', 'courses')
const servicesList = await getEntry('products', 'services')
const trainingsList = await getEntry('products', 'trainings')
const risikokompetenz = pageSchema.parse(risikokompetenzList)
---

<BaseLayout {title} {description}>
  <link slot="after-head" rel="alternate" type="application/feed+json" href={new URL(Astro.url + 'blog/feed.json', Astro.site)} title="Infolektuell Blog JSON Feed" />
  <link slot="after-head" rel="alternate" type="application/rss+xml" href={new URL(Astro.url + 'blog/feed.rss.xml', Astro.site)} title="Infolektuell Blog RSS Feed" />
  <Header {title} {headline} {summary} />
  <Section title="Für Einzelpersonen mit und ohne Angehörige">
    <ListPagePreview {...coachingsList.data} href="/products/coachings/" />
  </Section>
  <Section title="Für Gruppen">
    <ListPagePreview {...coursesList.data} href="/products/courses/" />
    <ListPagePreview {...trainingsList.data} href="/products/trainings/" />
    <ListPagePreview {...servicesList.data} href="/products/services/" />
  </Section>
  <Section title="E-Learning" headline="Interaktive Lehrmedien, mit denen Sie spielerisch Basiskompetenzen aufbauen können">
    <ListPagePreview {...risikokompetenz} href="/e-learning/risikokompetenz/" />
  </Section>
  <Section title="Über mich">
      <Bio {person}>
          <ContactButton slot="cta" />
      </Bio>
  </Section>
</BaseLayout>
