---
import { getEntry } from 'astro:content'
import BaseLayout from '@layouts/BaseLayout.astro'
import Header from '@components/page/Header.astro'
import Section from '@components/page/Section.astro'
import Article from '@components/page/Article.astro'
import CTAButton from '@components/page/CTAButton.astro'
const title = 'Mehr Digitale Kompetenz und Selbstbestimmung'
const description =
  'Training, Beratung und Dienstleistungen rund um das Leben und Arbeiten mit digitalen Technologien sowie Data Science und Data Literacy'
const locale = await getEntry('locales', 'de-DE')
const person = await getEntry('authors', 'tamara-cook')
const { name, bio } = person.data
---

<BaseLayout {title} {description} {locale}>
  <Header {title} {description}>
    <CTAButton href="/contact/">Kostenloses Erstgespräch vereinbaren</CTAButton>
  </Header>
  <Section title="Für Privatpersonen">
    <Article title="Coachings für Digitale Fitness">
      <p>
        In meinen Coachings geht es um digitale Medien und Technik in Privatleben sowie Studium und Beruf. Ich gehe
        individuell auf Ihre Wünsche und Probleme ein und hole Sie da ab, wo Sie stehen. So können Sie mehr aus Ihrem
        digitalen Leben machen.
      </p>
      <CTAButton slot="cta" href="/products/coachings/">Finden Sie jetzt Ihr passendes Coaching</CTAButton>
    </Article>
    <Article title="Kurse für praktische digitale Kompetenzen">
      <p>
        In meinen Kursen können Sie spezifische Kompetenzen für den digitalen Alltag erwerben wie einkaufen, richtig
        informieren, Datenschutz etc.
      </p>
      <CTAButton slot="cta" href="/products/courses/">Finden Sie Ihren passenden Kurs</CTAButton>
    </Article>
  </Section>
  <Section title="Für Unternehmen">
    <Article title="Trainings für produktiveres Entwickeln">
      <p>
        In meinen Trainings für IT- und Ingenieursbetriebe erlernen Ihre Teams Kompetenzen aus Bereichen wie Devops,
        Qualitätssicherung und Management, um endlich wieder produktiver zu entwickeln.
      </p>
      <CTAButton slot="cta" href="/products/trainings/">Finden Sie jetzt Ihr passendes Training</CTAButton>
    </Article>
    <Article title="Data Science">
      <p>
        Beauftragen Sie mich auf Freelancing-Basis mit Ihren Aufgaben aus Statistik und Datenanalyse. Als Psychologin
        verfüge ich über eine hochwertige Ausbildung in empirischer Statistik sowie der elektronischen Datenerhebung und
        -aufbereitung.
      </p>
      <CTAButton slot="cta" href="/products/data-science/">Jetzt informieren und beauftragen</CTAButton>
    </Article>
  </Section>
  <Section title="E-Learning">
    <p class="subtitle">
      Auf meiner Seite finden Sie auch interaktive Lehrmedien, mit denen Sie spielerisch Basiskompetenzen aufbauen
      können.
    </p>
    <Article title="Risikokompetenz mit Sokrates">
      <p>
        Risikokompetenz ist die Fähigkeit, in ungewissen Situationen vernünftig und effizient zu entscheiden. Mein
        Quiz-Format mit Sokrates als Quiz Master vermittelt anhand von Medienmeldungen und Alltagsfragen
        Basisfertigkeiten aus dem Bereich der Risikokompetenz.
      </p>
      <CTAButton slot="cta" href="/risikokompetenz/">Jetzt ausprobieren</CTAButton>
    </Article>
  </Section>
  <Section title="Über mich">
    <Article title={name.display}>
      <Fragment set:html={bio} />
      <CTAButton slot="cta" href="/about/">Meine Mission</CTAButton>
    </Article>
  </Section>
</BaseLayout>
