---
import { type CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'
import '@fortawesome/fontawesome-free/css/brands.min.css'

type Props = {
  person: CollectionEntry<'authors'>
}
const { person } = Astro.props
const { name, photo, title, address, email, phone, mobile, social } = person.data
---

<div class="h-card">
  {photo && <Image alt="Photo" src={photo} />}
  {name.prefix && <span class="hidden p-honorific-prefix">{name.prefix}</span>}
  <span class="hidden p-given-name">{name.given}</span>
  <span class="hidden p-family-name">{name.family}</span>
  {name.additional && <span class="hidden p-additional-name">{name.additional}</span>}
  {name.suffix && <span class="hidden p-honorific-suffix">{name.suffix}</span>}
  <ul>
    <li class="p-name">{name.display}</li>
    {title && <li>{title}</li>}
    {
      email && (
        <li class="email">
          <a class="u-email" href={'mailto:' + email}>
            {email}
          </a>
        </li>
      )
    }
    {
      phone && (
        <li class="phone">
          <a class="p-tel" href={'tel:' + phone.replace(/\s+/g, '')}>
            {phone}
          </a>
        </li>
      )
    }
    {
      mobile && (
        <li class="mobile">
          <a class="p-tel" href={'tel:' + mobile.replace(/\s+/g, '')}>
            {mobile}
          </a>
        </li>
      )
    }
    {
      social &&
        Object.entries(social).map(([provider, url]) => (
          <li class={provider}>
            <a href={url}>{url}</a>
          </li>
        ))
    }
  </ul>
  {
    address && (
      <address class="p-adr">
        <>
          <span class="p-street-address">{address.street}</span>
          <br />
        </>
        <span class="p-postal-code">{address.postalCode}</span>
        <span class="p-locality">{address.locality}</span>
      </address>
    )
  }
</div>
<a href={`/vcards/${person.id}.vcf`}>Download und zum Adressbuch hinzufügen</a>

<style>
  .hidden {
    display: none;
  }
  ul li {
    list-style-type: none;
    text-indent: -1.4em;
  }
  ul li:before {
    font-family: 'FontAwesome';
    float: left;
    width: 1.4em;
    margin: 0 5px 0 -15px;
    color: #f00;
  }
  ul li.email:before {
    content: '\f0e0';
  }
  ul li.phone:before {
    content: '\f095';
  }
  ul li.mobile:before {
    content: '\f3ce';
  }
  ul li.github:before {
    content: '\f09b';
  }
  ul li.linkedin:before {
    content: '\f08c';
  }
</style>
