---
import { type CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'
import Card from '@components/bulma/Card.astro'
import NavLink from '@components/nav/NavLink.astro'
import ContactLink from './ContactLink.astro'
import PhoneLink from './PhoneLink.astro'
import SocialLink from './SocialLink.astro'

type Props = {
  person: CollectionEntry<'authors'>
}
const { person } = Astro.props
const vcardUrl = `/vcards/${person.id}.vcf`
const { name, emoji, photo, title, address, email, phone, mobile, social } = person.data
const { github, linkedin, mastodon, matrix } = social ?? {}
---

<Card title="Kontaktdaten" {emoji}>
  {
    photo && (
      <figure class="image" slot="image">
        <Image alt="Photo" src={photo} />
      </figure>
    )
  }
  <address>
    <p class="title is-5">{name.display}</p>
    <p class="subtitle">{title}</p>
    {email && <ContactLink href={'mailto:' + email} icon="fa6-solid:envelope" text={email} />}
    {phone && <PhoneLink kind="phone" value={phone} />}
    {mobile && <PhoneLink kind="mobile" value={mobile} />}
    {
      address && (
        <p>
          <span>{address.street}</span>
          <br />
          <span>{address.postalCode}</span>
          <span>{address.locality}</span>
        </p>
      )
    }
  </address>
  <Fragment slot="footer">
    <NavLink class="card-footer-item" href={vcardUrl} icon="fa6-regular:address-card" text="Ins Adressbuch" />
    {github && <SocialLink href={`https://github.com/${github}`} icon="fa6-brands:github" text="Github" />}
    {linkedin && <SocialLink href={`https://linkedin.com/in/${linkedin}`} icon="fa6-brands:linkedin" text="Linkedin" />}
    {mastodon && <SocialLink href={mastodon} icon="fa6-brands:mastodon" text="Mastodon" />}
    {matrix && <SocialLink href={`https://matrix.to/#/${matrix}`} icon="tabler:brand-matrix" text="Matrix" />}
  </Fragment>
</Card>
