---
import { type CollectionEntry } from 'astro:content'
import { frontmatterSchema } from '../../entities'
import Article from '@components/page/Article.astro'
import TagList from '@components/blog/TagList.astro'
import ReadingTime from '@components/blog/ReadingTime.astro'
import FormattedDate from '@components/blog/FormattedDate.astro'

type Props = {
  post: CollectionEntry<'posts'>
}
const { post }: Props = Astro.props
const href = `/blog/${post.slug}/`
const { title, headline, tags, publishedTime } = post.data
const { remarkPluginFrontmatter } = await post.render()
const fm = frontmatterSchema.parse(remarkPluginFrontmatter)
const { minutesRead } = fm
---

<Article {title} {headline} {href}>
  <p class="content is-small">Veröffentlicht: <FormattedDate date={publishedTime} /></p>
  {
    minutesRead && (
      <p class="content is-small">
        Lesedauer:
        <ReadingTime minutes={minutesRead} />
      </p>
    )
  }
  <TagList tags={tags.slice(0, 5)} />
</Article>
