---
import Article from './Article.astro'
import CTAButton from './CTAButton.astro'

type Props = {
  title: string
  headline: string
  summary: string
  href: string
  cta?: string
}
const { title, headline, summary, href, cta }: Props = Astro.props
---

<Article {title} {headline} {href} >
  <p>{summary}</p>
  {cta && <CTAButton slot="cta" {href}>{cta}</CTAButton>}
</Article>
