---
import type { Page } from '@entities/page'
import Article from './Article.astro'
import CTAButton from './CTAButton.astro'

type Props = Page & {
  href: string
  cta?: string
}
const { title, headline, summary, href, cta }: Props = Astro.props
---

<Article {title} {headline} {href} >
  {summary && <p>{summary}</p>}
  {cta && <CTAButton slot="cta" {href}>{cta}</CTAButton>}
</Article>
