---
import '@assets/styles/index.scss'
import 'katex/dist/katex.min.css'
import { getImage } from 'astro:assets'
import OpenGraph, { type Props as OGProps } from '@components/site/OpenGraph.astro'
import FavIcon from '@components/site/FavIcon.astro'
import Header from '../components/site/SiteHeader.astro'
import Footer from '../components/site/SiteFooter.astro'
import siteConfig from '@config/site'
import background from '@assets/images/background/background.jpg'
const optimizedBackground = await getImage({ src: background, format: 'webp' })
const backgroundURL = `url(${optimizedBackground.src})`

type Props = {
  title?: string
  description?: string
  noindex?: boolean
  nofollow?: boolean
  openGraph?: OGProps
}
const { title, description, noindex, nofollow, openGraph }: Props = Astro.props
const titleString = title ? `${title} | ${siteConfig.title}` : siteConfig.title
const robots = [noindex ? 'noindex' : 'index', nofollow ? 'nofollow' : 'follow']
---

<!doctype html>
<html lang={Astro.currentLocale ?? siteConfig.defaultLanguage} dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{titleString}</title>
    <link rel="canonical" href={new URL(Astro.url, Astro.site)} />
    <FavIcon />
    {description && <meta name="description" content={description} />}
    <meta name="robots" content={robots.join(', ')} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <OpenGraph {...openGraph} />
    <slot name="after-head" />
  </head>
  <body>
    <slot name="before-body" />
    <Header />
    <main class="section"><div class="container"><slot /></div></main>
    <slot name="breadcrumbs" />
    <Footer />
    <slot name="after-body" />
    <style define:vars={{ backgroundURL }}>
      main {
        background-image: var(--backgroundURL);
        background-repeat: no-repeat;
        background-size: 100%;
      }
    </style>
  </body>
</html>
