---
import type { MarkdownLayoutProps } from 'astro'
import type { Page } from '@entities/page'
import BaseLayout from './BaseLayout.astro'
import Header from '../components/page/Header.astro'
type Props = MarkdownLayoutProps<Page>
const {frontmatter}: Props = Astro.props;
const { title, description, headline, summary, noindex, nofollow } = frontmatter
const openGraph = {
    title: headline ?? title,
    description: summary ?? description
}
---

<BaseLayout {title} {description} {openGraph} {noindex} {nofollow}>
    <Header {title} {headline} {summary} />
    <div class="box">
        <div class="content"><slot /></div>
    </div>
</BaseLayout>
