---
import { type CollectionEntry, getCollection } from 'astro:content'
import BaseLayout from '@layouts/BaseLayout.astro'
import Header from '@components/products/Header.astro'
import Section from '@components/page/Section.astro'
import Description from '@components/products/Description.astro'
import ContactButton from '@components/contact/ContactButton.astro'
import TargetGroup from '@components/products/TargetGroup.astro'

export const getStaticPaths = async function () {
  const services = await getCollection('services')
  return services.map((service) => ({
    params: { slug: service.slug },
    props: { service },
  }))
}

type Props = {
  service: CollectionEntry<'services'>
}

const category = 'Dienstleistung'
const { service }: Props = Astro.props
const { title, description, headline, summary, targets } = service.data
const { Content } = await service.render()

const openGraph = {
  title: headline ?? title,
  description: summary ?? description,
}
---

<BaseLayout {title} {description} {openGraph}>
  <Header headline={headline ?? title} {summary} {category}>
  </Header>
    <Section title="Zielgruppe">
        <TargetGroup {targets} />
    </Section>
    <Description>
        <Content />
    </Description>
    <Section title="Überzeugt?">
        <ContactButton />
    </Section>
</BaseLayout>
